Tools2/data/xml/competition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="information">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="titre"/>
        <xs:element type="xs:string" name="lieu"/>
      </xs:sequence>
      <xs:attribute type="xs:int" name="ID" use="optional"/>
      <xs:attribute type="xs:int" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="date"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="judoka">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="ID" use="optional"/>
          <xs:attribute type="xs:string" name="licence" use="optional"/>
          <xs:attribute type="xs:string" name="nom" use="optional"/>
          <xs:attribute type="xs:string" name="prenom" use="optional"/>
          <xs:attribute type="xs:string" name="sexe" use="optional"/>
          <xs:attribute type="xs:string" name="naissance" use="optional"/>
          <xs:attribute type="xs:string" name="pays" use="optional"/>
          <xs:attribute type="xs:string" name="club" use="optional"/>
          <xs:attribute type="xs:string" name="grade" use="optional"/>
          <xs:attribute type="xs:string" name="poids" use="optional"/>
          <xs:attribute type="xs:string" name="qualifieE1" use="optional"/>
          <xs:attribute type="xs:string" name="corg" use="optional"/>
          <xs:attribute type="xs:int" name="idEquipe" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>



  <xs:element name="equipe">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="nom" use="optional"/>
          <xs:attribute type="xs:string" name="sexe" use="optional"/>
          <xs:attribute type="xs:string" name="club" use="optional"/>
          <xs:attribute type="xs:string" name="ligue" use="optional"/>
          <xs:attribute type="xs:string" name="comite" use="optional"/>
          <xs:attribute type="xs:string" name="qualifieE1" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="epreuve" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="inscrits">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="judoka" maxOccurs="unbounded" minOccurs="0"></xs:element>
              <xs:element ref="equipe" maxOccurs="unbounded" minOccurs="0"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="categorieAge" use="optional"/>
      <xs:attribute type="xs:string" name="categoriePoids" use="optional"/>
      <xs:attribute type="xs:string" name="nom" use="optional"/>
      <xs:attribute type="xs:string" name="gradeMin" use="optional"/>
      <xs:attribute type="xs:string" name="gradeMax" use="optional"/>
      <xs:attribute type="xs:int" name="ID" use="optional"/>
      <xs:attribute type="xs:string" name="sexe" use="optional"/>
      <xs:attribute type="xs:int" name="idRemoteEpreuve" use="optional"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="epreuve_equipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="epreuve" maxOccurs="unbounded" minOccurs="0"></xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="libelle" use="optional"/>
      <xs:attribute type="xs:string" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="categorieAge" use="optional"/>
      <xs:attribute type="xs:string" name="gradeMin" use="optional"/>
      <xs:attribute type="xs:string" name="gradeMax" use="optional"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="club">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nomCourt"/>
        <xs:element type="xs:string" name="nom"/>
        <xs:element name="equipes" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="equipe" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="id" use="optional"/>
                      <xs:attribute type="xs:string" name="nom" use="optional"/>
                      <xs:attribute type="xs:string" name="sexe" use="optional"/>
                      <xs:attribute type="xs:string" name="epreuve" use="optional"/>
                      <xs:attribute type="xs:string" name="qualifieE1" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
      <xs:attribute type="xs:string" name="ID" use="optional"/>
      <xs:attribute type="xs:string" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="ligue" use="optional"/>
      <xs:attribute type="xs:string" name="comite" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="competition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="information" maxOccurs="1" minOccurs="1" ></xs:element>
        <xs:element name="epreuves">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="epreuve" maxOccurs="unbounded" minOccurs="0"></xs:element>
              <xs:element ref="epreuve_equipe" maxOccurs="unbounded" minOccurs="0"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="clubs" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="club" maxOccurs="unbounded" minOccurs="0"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
  </xs:element>
</xs:schema>